<div class="welcome">  <!-- ng-controller="MainController" -->
  <h1>Annotate your code and share</h1>
  <div class="trio">
    <span>Hey here's a feature</span>
    <span>Look another feature</span>
    <span>Would be handy for...</span>
  </div>
  <img class="demo" src="assets/demo.jpg"/>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do eiusmod tempor aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do eiusmod tempor aliqua.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <br/>
  <br/>
  <div class="browse-wrap">
    <input class="search" placeholder="Browse snippets by title, author or tag"/>
    <button class="searchBtn">Search</button>

    <div class="teaser" ng-repeat="snippet in snippets">
      <!-- snippet start -->
      <div class="form-wrap">
        <h3>{{ snippet.title }}</h3>

        <div class="editor-wrap">
          <div id="editor-{{ snippet._id }}" class="editor">
          </div><!-- remove space between inline-blocks
       --><div id="annotations">
            <div ng-repeat="range in highlights" id="annotation-{{ range.id }}">
              <div class="note highlighted-{{ range.color }}" spellcheck="false" contenteditable="true">
                {{ range.text }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- snippet end -->
    </div>

  </div>

</div>
