<div ng-controller="SnippetController" class="form-wrap">
  <form ng-submit="snippetsCreate()">
    <input type="radio" name="isPrivate" ng-model="isPrivate" value="false" checked>
    <label>Public Snippet</label>
    <input type="radio" name="isPrivate" ng-model="isPrivate" value="true">
    <label>Private Snippet</label>
    <input type="text" name="title" ng-model="title" placeholder="Snippet title goes here" />
    <div class="editor-wrap">
      <div id="editor" ng-model="code" ng-mouseup="mouseUp()">function foo(items) {
  var x = "Fill me in!";
  return x;
}
      </div><!-- remove space between inline-blocks
     --><div id="annotations"></div>
    </div>

    <div class="btn-wrap">
      <button class="btn" type="submit">Save snippet</button>
    </div>

    <button ng-click='enlargeText()'>+</button>
    <button ng-click='reduceText()'>-</button>
  </form>
</div>
