<div class="form-wrap" ng-show="displayEditor">
  <div data-sp-flash></div>
  <div class="bock-icon">
    <h2>{{ title }}</h2>
  </div>

  <div class="snippet-info btn-wrap">
    <span>Created by: {{ username }} on {{ convertTime(createdAt) }}</span>

    &nbsp;&nbsp;||&nbsp;&nbsp;
    <span>
      Tags:
      <span ng-repeat="tag in tags track by $index">
        <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{ tag }}
      </span>
    </span>

    &nbsp;&nbsp;||&nbsp;&nbsp;
    <button type="button" class="mute" ng-click='exportImage()'>
      Export
      <i class="fa fa-external-link-square" aria-hidden="true"></i>
    </button>

    <span ng-show="editAccess">
      &nbsp;&nbsp;||&nbsp;&nbsp;
      <a href="/#/snippet/{{id}}/edit"><button type="button" class="mute">Edit <i class="fa fa-edit"></i></button></a>

      &nbsp;&nbsp;||&nbsp;&nbsp;
      <a ng-click="deleteSnippet()"><button type="button" class="mute danger">Delete <i class="fa fa-trash"></i></button></a>
    </span>
  </div>

  <div class="editor-wrap">
    <div id="editor" ng-model="code">
    </div><!-- remove space between inline-blocks
 --><div id="annotations">
      <div ng-repeat="range in highlights" id="annotation-{{ range.id }}">
        <div class="note highlighted-{{ range.color }}">
          {{ range.text }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-wrap" ng-hide="displayEditor">
  <div class="missing-snippet">
    That snippet could not be found.
  </div>
</div>
