<div class="form-wrap" ng-show="displayEditor">
  <div data-sp-flash></div>
  <h2>{{ title }}</h2>
  <p class="minutiae">
    Created by: {{ username }} at {{ convertTime(createdAt) }}&nbsp;&nbsp;&nbsp;&nbsp;Tags:
    <span ng-repeat="tag in tags">
      <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{ tag }}
    </span>
    <button ng-show="belongsToUser" type="button" class="editBtn" ng-click="editRoute()">Edit</button>
    <button ng-show="belongsToUser" type="button" class="deleteBtn" ng-click="deleteRoute()">Delete</button>
  </p>
  <div class="editor-wrap">
    <div id="editor" ng-model="code">
    </div><!-- remove space between inline-blocks
 --><div id="annotations">
      <div ng-repeat="range in highlights" id="annotation-{{ range.id }}">
        <div class="note highlighted-{{ range.color }}">
          {{ range.text }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-wrap" ng-hide="displayEditor">
  <div class="missing-snippet">
    That snippet could not be found.
  </div>
</div>
