@import url(https://fonts.googleapis.com/css?family=Roboto);

/* elements */
body {
  font-family: "Arial", "sans-serif";
  background: #eee;
  background: -webkit-linear-gradient(#D5E6F1, #eee 10%, #fff);
  background: -o-linear-gradient(#D5E6F1, #eee 10%, #fff);
  background: -moz-linear-gradient(#D5E6F1, #eee 10%, #fff);
  background: linear-gradient(#D5E6F1, #eee 10%, #fff);
  color: #444;
}

.heading-1, .heading-2 {
  text-align: center;
}

.heading-1 {
  padding: 20px 0;
}

.heading-wrap {
  width: 90%;
  padding: 2% 0;
  margin: 10px 5%;
  border-bottom: 1px solid white;
}

h1, h2 {
  color: #222;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-decoration: underline;
  font-weight: bold;
}

h2.bock-icon {
  background-image: url('/assets/bock.jpg');
  background-size: 30px;
  background-repeat: no-repeat;
  margin: 50px 0 10px 10px;
  padding-left: 40px;
}

.welcome {
  text-align: center;
  color: #333;
}

.welcome p {
  padding: 20px;
  text-align: justify;
}

.demo {
  padding: 50px 5%;
  margin: 50px auto;
  background: #333;
}

p.minutiae {
  padding-left: 10px;
  color: #666;
}

p.minutiae-centered {
  text-align: center;
}

.btn-wrap {
  display: block;
  width: 100%;
  height: 40px;
}

.btn-wrap .btn {
  float: left;
  background: none;
  border: 1px solid #ddd;
}


.search {
  width: 100%;
  border-radius: 5px;
}

footer {
  border-top: 1px solid #ddd;
  padding: 20px;
  font-size: smaller;
  color: #666;
  text-align: center;
}

/* Navigation Bar */
.navbar-container {
  width: 100%;
  padding: 10px 0;
  background: #333333;
  color: #ffffff;
}

.navbar-container nav {
  padding-top: 5px;
  margin-bottom: 0;
}

.btn {
  padding: 5px 10px;
  margin: 20px 10px 10px 0;
  border-radius: 5px;
  color: #3ed8fb;
  font-size: smaller;
}

.btn:hover {
  background: #3ed8fb;
  color: #333333;
}

/* snippets create form */

label {
  padding: 0 5px 0 25px;
}

.form-wrap {
  width: 90%;
  margin: 10px auto;
}

.form-wrap .snippet-title {
  width: 96%;
  padding: 1% 2%;
  margin: 0 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form-wrap p {
  padding: 5px 10px;
  font-weight: bold;
}

.form-wrap .tags {
  width: 25%;
  margin: 0 0 5px 10px;
  padding: 0.5% 1%;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: inline-block;
}

.form-tags button {
  margin: 0 0 5px 10px;
  font-weight: bold;
}

.mute {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: none;
}

.mute:hover {
  background: #ddd;
}

.teaser {
  width: 90%;
  margin: 0 3%;
  padding: 30px 2%;
  text-align: left;
}

/* snippets view page */

.snippet-info {
  margin: 10px 0;
  padding: 5px;

  font-family: Arial, sans-serif;
  font-weight: bold;

  color: #666;
}

.snippet-info button {
  padding: 8px;
}

.snippet-info button i {
  margin-left: 5px;
}

.snippet-info button.danger {
  color: #900;
}

.snippet-info button.danger:hover {
  background: #cd504a;
  color: #fff;
  border-color: #900;
}

.missing-snippet {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

/* all snippets page */

.bottom-wrap {
  border: 1px solid red;
}

.snippets {
  text-align: left;
}

.pagination {
  text-align: center;
  margin: 25px;
}

.pagination span {
  border: 1px solid rgb(173, 216, 230);
  border-radius: 5px;
  padding: 10px 15px;
}

.pagination span:hover {
  background: rgb(173, 216, 230);
  cursor: pointer;
}

.pagination span.inactive {
  color: #ccc;
}

.pagination span.inactive:hover {
  background: inherit;
  cursor: default;
}

/* editor styles */
.editor-wrap {
  width: 100%;
  border-radius: 15px;
  min-height: 500px;
}

#editor, .editor {
  margin: 0;
  display: inline-block;
  width: 70%;
  min-height: 500px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#annotations {
  display: inline-block;
  background: #002b36;
  min-height: 500px;
  width: 30%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  vertical-align: top;
}

.note {
   display:inline-block;
   height: auto;
   width: 80%;
   font-size: 16px;
   padding: 2%;
   margin: 2% 0 2% 4%;
   vertical-align: top;
   border-radius: 10px;
}

.trash {
  display:inline-block;
  width: 8%;
  margin: 2% 0;
  padding: 2% 0;
  background: none;
  display:inline-block;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: smaller;
}

.trash:hover {
  background: #333;
}

.highlighter-0, .highlighter-1, .highlighter-2, .highlighter-3 {
  position: absolute;
}
.highlighter-0 { background-color: lightblue; }
.highlighter-1 { background-color: lavender; }
.highlighter-2 { background-color: bisque; }
.highlighter-3 { background-color: lightgreen; }
.highlighted-0 { background-color: lightblue; color: darkblue; border: 1px solid darkblue;}
.highlighted-1 { background-color: lavender; color: indigo; border: 1px solid indigo;}
.highlighted-2 { background-color: bisque; color: darkred; border: 1px solid darkred; }
.highlighted-3 { background-color: lightgreen; color: darkgreen; border: 1px solid darkgreen;}

/* UX flash message */

.flash {
  width: 90%;
  padding: 2% 5%;
  border: 1px solid #3ed8fa;
  text-align: center;
  border-radius: 15px;
}
