/* elements */
body {
  font-family: "Arial", "sans-serif";
  background: #eee;
  background: -webkit-linear-gradient(#eee, #fff);
  background: -o-linear-gradient(#eee, #fff);
  background: -moz-linear-gradient(#eee, #fff);
  background: linear-gradient(#eee, #fff);
}

nav {
  width: 90%;
  padding: 0 5%;
  height: 75px;
  top: 0;
  left: 0;
  margin-bottom: 40px;
  background: #666;
  background: -webkit-linear-gradient(lightblue, #eee);
  background: -o-linear-gradient(lightblue, #eee);
  background: -moz-linear-gradient(lightblue, #eee);
  background: linear-gradient(lightblue, #eee);
}

footer {
  border-top: 1px solid #ddd;
  font-size: smaller;
  color: #666;
  text-align: center;
}

h1, h2 {
  text-decoration: underline;
  color: #333;
}

p.minutiae {
  font-size: smaller;
  color: #888;
}

/* custom classes */

.btn {
  float:right;
  padding: 5px 10px;
  margin: 20px 0 10px 10px;
  background: none;
  border: 1px solid lightblue;
  border-radius: 5px;
  color: #333;
  font-size: smaller;
}

.btn:hover {
  background: #eee;
}

.mute {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: none;
}

.mute:hover {
  background: #ccc;
}

/* home page */

.welcome {
  text-align: center;
  color: #333;
  width: 90%;
  margin: 0 5%;
}

.demo {
  width: 90%;
  height: 350px;
  margin: 0 5% 25px 5%;
}

.trio span {
  width: 32%;
  height: 150px ;
  display:inline-block;
  margin: 2% 0 3% 0;
}

.search {
  width: 60%;
  padding: 20px 10%;
  display: inline-block;
}

/* TODO: make this class responsive */
.searchBtn {
  text-align: center;
  padding: 20px;
  width: 10%;
  display: inline-block;
  border-radius: 10px;
  background-color: white;
}

.teaser {
  width: 90%;
  margin: 0 3%;
  padding: 30px 2%;
  text-align: left;
}

/* snippets page */

label {
  padding: 0 5px 0 25px;
}

.form-wrap {
  width: 90%;
  margin: 20px auto;
}

.form-wrap .snippet-title {
  width: 96%;
  padding: 1% 2%;
  margin: 0 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form-wrap h2, .form-wrap p {
  padding: 5px 10px;
  font-weight: bold;
}

.form-wrap .tags {
  width: 25%;
  margin: 0 0 5px 10px;
  padding: 0.5% 1%;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: inline-block;
}

/* snippets view page */

.missing-snippet {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

/* all snippets page */

.snippets {
  text-align: left;
}

.pagination {
  text-align: center;
  margin: 25px;
}

.pagination span {
  border: 1px solid rgb(173, 216, 230);
  border-radius: 5px;
  padding: 10px 15px;
}

.pagination span:hover {
  background: rgb(173, 216, 230);
  cursor: pointer;
}

.pagination span.inactive {
  color: #ccc;
}

.pagination span.inactive:hover {
  background: inherit;
  cursor: default;
}

/* editor styles */
.editor-wrap {
  width: 100%;
  border-radius: 15px;
  min-height: 500px;
}

#editor, .editor {
  margin: 0;
  display: inline-block;
  width: 70%;
  min-height: 500px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#annotations {
  display: inline-block;
  background: #000;
  min-height: 500px;
  width: 30%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  vertical-align: top;
}

.note {
   display:inline-block;
   height: auto;
   width: 80%;
   font-size: 12px;
   padding: 2%;
   margin: 2% 0 2% 2%;
   vertical-align: top;
   border-radius: 10px;
}

.trash {
  display:inline-block;
  width: 8%;
  margin: 2% 0;
  padding: 2% 0;
  background: none;
  display:inline-block;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: smaller;
}

.trash:hover {
  background: #333;
}

.highlighter-0, .highlighter-1, .highlighter-2, .highlighter-3 {
  position: absolute;
}
.highlighter-0 { background-color: lightblue; }
.highlighter-1 { background-color: lavender; }
.highlighter-2 { background-color: bisque; }
.highlighter-3 { background-color: lightgreen; }
.highlighted-0 { background-color: lightblue; color: darkblue; border: 1px solid darkblue;}
.highlighted-1 { background-color: lavender; color: indigo; border: 1px solid indigo;}
.highlighted-2 { background-color: bisque; color: darkred; border: 1px solid darkred; }
.highlighted-3 { background-color: lightgreen; color: darkgreen; border: 1px solid darkgreen;}

/* save snippet button */

.btn-wrap {
  display: block;
  width: 100%;
  height: 40px;
}

.btn-wrap .btn {
  float: left;
}

/* UX flash message */

.flash {
  width: 90%;
  padding: 2% 5%;
  border: 1px solid lightgreen;
  text-align: center;
  border-radius: 15px;
}
